
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;

  /* Menubar --- starter */
  
}
 .navigation {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  height: auto;
  z-index: 9999; /* Ensure the navigation is on top of other elements */
 }

 .navigation-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  
 }
 .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 30px;
 }

 .logo-green {
  color: #57B33C;
 }

 header {
  margin-bottom: 200px;
 }
 
 .link  {
  background: none;
  border: none;
  text-decoration: none;
  color: #000000;
  font-size: 30px;
  cursor: pointer;
  
 }

 .dropdown.active > .link .link svg,
 .link:hover {
  color: #57B33C;
  fill: #57B33C;
  z-index: 1;
 }

 .link-2  {
  display: flex;
  background: none;
  border: none;
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
  cursor: pointer;
  justify-content: left;
  align-items: center;
  
 }

 .link-2:hover {
  color:#000000;
 }
 
 .dropdown {
  padding: 20px;
  position: relative;
 }

 .dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + .50rem);
  background-color: #57B33C;
  color: #ffffff;
  padding: .75rem;
  border-radius: .15rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
 }

.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  z-index: 2;
}

.information-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, max-content);
}

.dropdown-links {
  display: flex;
  flex-direction: column;
  gap: .150rem;
}

.icons {
  margin-right: 10px;
}

.login-form > input {
  margin-bottom: .5rem;
}

.login-svg {
  width: 64px;
  height: 64px;
}

.login-btn {
  background-color: #357FFF; /* Green */
  border: none;
  color: white;
  padding: 12px 18px;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
}

.login-btn:hover {
  background-color: #000000;
}

.login-heading {
  font-size: 15px;
  font-weight: 600;
}

.login-container{
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .navigation {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px;
  }
  
  .link,
  .link-2 {
    font-size: 20px;
  }
  
  .dropdown-menu {
    top: 100%;
    left: 0;
    transform: translateY(10px);
  }
  header {
    margin-bottom: 100px;
  }

}

/* Menubar --- slutter */

/* Links table --- starter */
table {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #357FFF;
  border-radius: .30rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  padding: 10px;
  font-size: 25px;
  max-width: fit-content;
  height: auto;
}
tr {
  max-width: 100%;
}
td {
  max-width: 100%
}

th {
  font-weight: 500;
  padding: 10px;
}

.icons-table {
  fill: #000000;
  margin-right: 10px;
}


.table-content-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}


.table-content-h2 {
  min-width: 500px;
  font-size: 30px;
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  table {
    font-size: 20px;
    max-width: 100%;
  }

  .table-content-h2 {
    min-width: auto;
    font-size: 25px;
  }
}

/* media til table --- starter */



/* media til table --- slutter */

/* Links table --- slutter */

/* GreenWheels & infografik --- Starter */

.om-greenwheels-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin: 40px;
}

.info-grafik-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.info-grafik-img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  height: auto;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  border-radius: .30rem;
}

.introdoktion-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #57B33C;
  padding: 40px;
  border-radius: .30rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  min-width: 465px;
  height: 250px;
}

@media (max-width: 768px) {
  .om-greenwheels-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .info-grafik-container {
    
    width: 100%;
    height: 100%;
  }
  
  .introdoktion-container {
    width: auto;
    height: auto;
    
  }
}

/* GreenWheels & infografik --- slutter */



/* map --- starter */
.map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.header-1 {
  font-size: 30px;
  font-weight: 600;
  color: #000000;
}
.button-container {
  display: flex;
  flex-direction: row;
  margin: 40px;
}

.btn-grp-headline {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headline-h2 {
  font-size: 25px;
  text-align: center;
}

.headline-h3 {
  font-size: 20px;
}

.btn-grp-1 {
  color: #ffffff;
  background-color: #357FFF;
  padding: 10px;
  flex-wrap: wrap;
  max-width: 400px;
  border-radius: .30rem 0 0 .30rem;
}

 #map {
  display: flex;
  height: 600px;
  width: 800px;
  border-radius: 0 .30rem .30rem 0;
  }

  .map-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 16px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin: 2px;
  }

  .map-button:hover {
    background-color: #000000;
  }



@media only screen and (min-width: 601px) and (max-width: 1023px) {
  .map-container {
    padding: 10px;
  }

  #map {
    width: 100%;
  }

  .button-container {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 300px) and (max-width: 775px) {
  .map-container {
    padding: 10px;
  }

  #map {
    width: 100%;
  }

  .button-container {
    flex-direction: column;
    align-items: center;
  }
}

/* map --- slutter */

/* Ladeboks cards --- starter */

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.card-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #57B33C;
  padding: 20px;
  border-radius: .30rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  color: #ffffff;
  width: fit-content;
  height: fit-content;
}

.firma-logo {
  font-size: 25px;
  font-weight: 700;
}

.cards-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-size: 15px;
  font-weight: 400;
}

.tekst-bold {
  font-weight: 600;
}


.card-button {
  background-color: #357FFF;
  border: none;
  color: white;
  padding: 12px 16px;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin: 2px;
}

.card-button:hover {
  background-color: #000000;

}

/* Ladeboks cards --- slutter */

/* Footer --- starter */

.footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 20px;
  background-color: #444E5F;
  color: #ffffff;
}

.footer-information {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
  flex-grow: 1;
}

.footer-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}

.footer-icons {
  fill: #ffffff;
  width: 48px;
  height: 48px;
}

/* Footer --- slutter */